.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0px)
    }
}

.radius-small {
    border-radius: 12px;
}
.image_max_width_100 {
    max-width: 100%;
}
.border_radius_right {
    border-radius: 0 75px 75px 0;
}
.border_radius_left {
    border-radius: 75px 0 0 75px;
}
.color_theme_dark_blue {
    background-color: #000394;
    color: white;
}
.link_white {
    color: white;
}
.heading_width {
    max-width: 100%!important;
}
.text_center {
    text-align: center;
}

